/*
 * bottom nav height in design 59px
 * top bar height in design 64px
 * padding horizontal 44px
 * jarak dari top ke tulisan halaman greeting 155px, means 155-59 = 94px
 * jarak dari tulisan ke bottom halaman greeting 189px, means 189 - 64 = 125px
*/

.undangan {
  --smooth-white: #F9F9F9;
  --golder-color: #F7D039;
  --dark-blue-color: #25316D;
  --light-blue-color: #455dd5;
  --black-color: #1A1919;
  --gray-color: #717171;

  --bottom-nav-bar-height: 60px;
  background-color: var(--smooth-white);
}

.bottomnav {
  min-height: 60px;
  width: 100%;
  background-color: var(--black-color);
  position: fixed;
  z-index: 2;
  top: calc(100vh - var(--bottom-nav-bar-height));
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.bottomnav .navbar_icon {
  font-size: 1.5rem;
  color: var(--smooth-white);
}

.container {
  min-height: calc(100vh - var(--bottom-nav-bar-height));
  max-height: calc(100vh - var(--bottom-nav-bar-height));
}

.greeting {
  background-color: var(--dark-blue-color);
  display: flex;
  flex-direction: column;
}

.greeting .hiasan {
  min-width: 27vw;
  max-width: 27vw;
  min-height: 53vh;
  max-height: 53vh;
  z-index: 3;
  position: absolute;
  background-color: var(--golder-color);
  border-radius: 57px;
  top: calc(-1 *(53vh - (53vh * 90 / 100)));
  left: calc(-1 *(27vw - (27vw * 52 / 100)));
}

.greeting .text_container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.greeting .announcement {
  font-family: 'Poppins';
  color: var(--smooth-white);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.greeting .namapasangan {
  font-family: 'Pacifico', 'serif';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: var(--golder-color);
}

.greeting .namapasangan p,
.greeting h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.greeting .tamuundangan {
  font-family: 'PT Serif', 'serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--smooth-white);
}

.greeting .tamuundangan p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.greeting .button_container {
  z-index: 4;
  position: absolute;
  display: flex;
  min-width: 100vw;

}

.greeting .button_wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15%;
}

.mainbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 320px;
  height: 50px;

  background-color: var(--smooth-white);
  border-radius: 15px;

  color: #25316D;
  font-family: 'PT Serif', 'serif';
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .undangan {
    --bottom-nav-bar-height: 10vh;
  }

  .bottomnav {
    min-height: var(--bottom-nav-bar-height);
    top: calc(100vh - var(--bottom-nav-bar-height));
  }

  .container {
    min-height: calc(100vh - var(--bottom-nav-bar-height) + 1px);
    max-height: calc(100vh - var(--bottom-nav-bar-height) + 1px);
  }
}

@media screen and (min-width: 760px) and (max-width: 1280px) {
  .undangan {
    --bottom-nav-bar-height: 10vh;
  }

  .bottomnav {
    min-height: var(--bottom-nav-bar-height);
    top: calc(100vh - var(--bottom-nav-bar-height));
  }

  .bottomnav .navbar_icon {
    font-size: 2.5rem;
  }

  .container {
    min-height: calc(100vh - var(--bottom-nav-bar-height) + 1px);
    max-height: calc(100vh - var(--bottom-nav-bar-height) + 1px);
  }

  .greeting .text_container {
    gap: 40px;
  }

  .greeting .hiasan {
    min-width: 24vw;
    max-width: 24vw;
    min-height: 53vh;
    max-height: 53vh;
    border-radius: calc((24vw / 53vh) * 2);
    top: calc(-1 *(53vh - (53vh * 90 / 100)));
    left: calc(-1 *(27vw - (27vw * 52 / 100)));
  }

  .greeting .announcement,
  .greeting .tamuundangan {
    font-size: 24px;
  }

  .greeting .namapasangan {
    font-size: 56px;
  }

  .greeting .button_wrapper {
    margin-bottom: 8%;
  }


}

@media screen and (min-width: 1280px) {
  .bottomnav {
    min-height: 0;
    display: none;
  }


  .greeting.container {
    min-height: 100vh;
    max-height: 100vh;
  }

  .greeting .hiasan {
    min-width: 24vw;
    max-width: 24vw;
    min-height: 66vh;
    max-height: 66vh;
    border-radius: calc(24vw / 67vh);
    top: calc(-1 *(53vh - (67vh * 65 / 100)));
    left: calc(-1 *(27vw - (27vw * 35 / 100)));
  }

  .greeting .button_wrapper {
    margin-bottom: 3%;
  }

  .greeting .announcement,
  .greeting .tamuundangan {
    font-size: 32px;
  }

  .greeting .tamuundangan {
    margin-bottom: 20px;
    line-height: 1em;
  }

  .greeting .namapasangan {
    font-size: 52px;
    /* line-height: 52px; */
  }

  .greeting .text_container {
    gap: 40px;
  }

}




.detail {
  background-color: var(--smooth-white);
  display: flex;
  flex-direction: column;
}

.detail .namapasangan {
  /* font-family: 'Playfair Display', 'serif'; */
  font-family: 'Pacifico', 'serif';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #F7D039;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.detail .tanggal_pernikahan {
  font-family: 'Playfair Display', 'serif';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #717171;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.detail .quote_alkitab_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detail .quote_alkitab_container p {
  font-family: 'PT Serif', 'serif';
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 16px;
  color: #717171;
}

.detail .detail_foto_pasangan {
  width: 100vw;
  flex: 3;
}

.detail .quote_alkitab_container .quote_alkitab {}

.pasangan {
  background-color: #25316D;
  border-radius: 90px;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 39px;
  padding-right: 39px;
  display: flex;
  flex-direction: column;
  color: var(--smooth-white);
}

.pasangan p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
}

.pasangan .separator {
  min-width: 101px;
  min-height: 4px;
  background-color: var(--smooth-white);
}

.pasangan .namapasangan {
  font-size: 24px;
  margin-bottom: 14px;
  font-family: 'Playfair Display', 'serif';
  color: #F7CB20
}

.pasangan .detailpasangan {
  font-size: 14px;
  font-weight: 550;
  text-align: center;
  font-family: 'PT Serif';
}

.pasangan .pasangan_image {
  height: 100%;
  width: 100px;
}

.lokasi {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lokasi p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
}

.lokasi .mainbutton {
  width: 96px;
  height: 30px;
  font-size: 12px;
  background-color: #25316D;
  color: var(--smooth-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lokasi .judul_lokasi {
  font-weight: 700;
  font-family: 'Playfair Display';
  font-size: 40px;
  text-align: center;
  color: #6E85B7
}

.lokasi .lokasi_divider {
  min-height: 3px;
  min-width: 194px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #F6F4F4;
}

.lokasi .tanggal_acara {
  margin-bottom: 14px;
}

.lokasi .tanggal_dan_waktu_acara {
  font-weight: 700;
  font-family: 'PT Serif';
  font-size: 13px;
  text-align: center;
  color: #717171;
  margin-bottom: 14px;
}

.lokasi .icon_container {
  min-height: 3px;
  min-width: 143px;
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
  background-color: #F6F4F4;
}

.lokasi .undangan_icon {
  font-size: 55px;
  margin-bottom: 14px;
}

.lokasi .nama_lokasi_undangan {
  font-weight: 700;
  font-family: 'PT Serif';
  font-size: 13px;
  text-align: center;
  color: #606060;
}

.lokasi .nama_lokasi_undangan_spacer {
  margin-bottom: 14px;
}

.reservation {
  background-color: #25316D;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 30px,
}

.reservation p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
}

.reservation .form_container input[type=text] {
  height: '29px';
}

.form_container {
  min-height: calc((100vh - 80px) * 6 / 10);
  max-height: calc((100vh - 80px) * 6 / 10);
  background-color: #25316D;
  color: var(--smooth-white);
  padding-left: 55px;
  padding-right: 51px;
  padding-top: 42px;
  padding-bottom: 25px;
  overflow: hidden;
}

/* Slideshow */

.slideshow {
  margin-top: calc((100vh - 80px) * 0.25 / 10);
  overflow: hidden;
  min-width: 100%;
  max-height: calc((100vh - 80px) * 3.25 / 10);
  min-height: calc((100vh - 80px) * 3.25 / 10);
  display: flex;
  flex-direction: column;
  background-color: var(--smooth-white);
  border-radius: 20px;
  padding: 20px 10px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  min-width: 100%;
  color: #343434;
  font-weight: bold;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ucapan_card {
  min-height: 6rem;
  max-height: 6rem;
  overflow: hidden;
  margin-bottom: 10px;
}

.nama_pengucap {
  width: 100%;
  min-height: 16px;
  text-align: left;
}

.kalimat_ucapan {
  min-height: 3rem;
  min-width: 100%;
  padding: 10px 0 0 10px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  background-color: #6E85B7;
  color: var(--smooth-white);
  font-weight: 400;
  border-radius: 10px;
}

.gallery {}

.gallery p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
}

.gift {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
}

.gift p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
}

.gift .bankcard {
  background: linear-gradient(105.91deg, #6E85B7 3.6%, #25316D 97.01%), linear-gradient(105.91deg, #6E85B7 3.6%, #25316D 97.01%);
  width: 250px;
  height: 1px;
  min-height: 140px;
  border: 4px solid var(--smooth-white);
  border-radius: 15px;
  filter: drop-shadow(4px 4px 4px #6E85B7);
  padding: 15px;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
}

.gift .title {
  color: #F7CB20;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Playfair Display';
  margin-bottom: 30px;
}

.gift .subtitle {
  color: #717171;
  font-size: 14px;
  font-weight: 600;
  font-family: 'PT Serif';
  margin-bottom: 30px;
}

.gift .bankcard .norek {
  font-family: 'PT Serif';
  font-size: 20px;
  font-weight: 700;
  color: var(--smooth-white);
  text-align: left;
}

.gift .bankcard .detailrek {
  font-family: 'PT Serif';
  font-size: 12px;
  font-weight: 700;
  color: var(--smooth-white);
  text-align: left;
}

.thankyou {
  min-height: 75vh;
}

.thankyou p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
}